/* ==UserStyle==
@name        Catppuccin for Instagram
@namespace   github.com/haiksgithub/
@version     0.1.0
@description Soothing pastel theme for Instagram.
@author      haik

@preprocessor stylus

@var select flavor "Flavour" [
  "'latte'",
  "'frappe'",
  "'macchiato'",
  "'mocha'",
  "'espresso'",
]

@var select accent "Accent Colour" [
  "'blue'",
  "'flamingo'",
  "'green'",
  "'lavender'",
  "'mantle'",
  "'maroon'",
  "'mauve'",
  "'peach'",
  "'pink'",
  "'red'",
  "'rosewater'",
  "'sapphire'",
  "'sky'",
  "'teal'",
  "'yellow'",
]

@var number scrollbar_width "Scrollbar Width (in pixels)" 5
==/UserStyle== */

@-moz-document domain('instagram.com') {
  @import url('https://cdn.jsdelivr.net/gh/haiksgithub/catppuccin-palette-css@v0.1.7/catppuccin.css');

  // Gets a colour from the palette
  get(clr, model = false) {
    suffix = model ? '-' + model : '';
    return s('var(--ctp-%s-%s%s)', unquote(flavor), unquote(clr), unquote(suffix));
  }

  get_transparency(clr, amount) {
    return convert(s('@css{ rgba(%s, %s) }', get(clr, 'raw'), amount));
  }

  // Always dark/light independent of the flavor
  dark_color = flavor == 'latte' ? 'text' : 'crust';
  light_color = flavor == 'latte' ? 'crust' : 'text';

  // Override default variables
  * {
    --web-always-black: get(dark_color, 'raw');
    --web-always-white: get(light_color, 'raw');

    --overlay-alpha-80: get_transparency(dark_color, 0.5);

    --ig-primary-background: get('base', 'raw');
    --ig-secondary-background: get('surface0', 'raw');
    --ig-banner-background: get('crust', 'raw');
    --ig-highlight-background: get('surface0', 'raw');
    --ig-elevated-background: get('crust', 'raw');

    --ig-primary-button: get(accent, 'raw');
    --ig-primary-button-hover: get(accent, 'raw'), 0.8;

    --ig-secondary-button-background: get('surface0', 'raw');
    --ig-secondary-button-hover: get('surface1', 'raw');
    --ig-secondary-button: get('text', 'raw');

    --ig-primary-text: get('text', 'raw');
    --ig-secondary-text: get('subtext0', 'raw');
    --ig-tertiary-text: get('subtext0', 'raw');
    --wbloks-primary-text: get('text');

    --ig-separator: get('overlay0', 'raw');
    --post-separator: get('overlay0', 'raw');
    --ig-elevated-separator: get('overlay0', 'raw');
    --ig-stroke: get('overlay0', 'raw');
    --grey-2: get('overlay0', 'raw');

    --ig-link: get(accent, 'raw');
    --ig-error-or-destructive: get('maroon', 'raw');
    --ig-success: get('green', 'raw');
  }
  
  // Text selection
  *::selection {
    color: get(dark_color);
    background-color: get(accent);
  }

  // Sidebar
  .x1xgvd2v {
    background-color: get('crust');

    &[style='transform: translateX(0px);'] {
      background-color: get('mantle');
    }
  }

  .x1zvrr1 {
    background-color: get('mantle');
  }

  // Posts
  ._aggc {
    padding: 1em;
    background-color: get('mantle');
    border: 1px solid get('overlay0') !important;
    border-radius: var(--modal-border-radius);
    box-shadow: 0 3px 5px -1px get_transparency(dark_color, 0.2);
    box-sizing: border-box;
  }

  ._aatc ._aasi,
  ._ae1i,
  ._aggc textarea.xvbhtw8 {
    background-color: get('mantle');
  }

  // Icons
  svg {
    color: get('text');
    fill: get('text');
  }

  // The close icon on the dark wrapper
  svg[aria-label='Close'] {
    color: var(--web-always-white);
  }

  // Inside primary buttons
  .xzloghq,
  ._acas:not(._acao) {
    &,
    svg {
      color: get('base');
      fill: get('base');
    }
  }

  // Secondary buttons
  .x1gjpkn9,
  ._acat,
  ._acap {
    &,
    a& {
      &,
      &:visited {
        color: get('text');
      }
    }
  }

  // Profile banner
  div:has(> .x1mu97ne) {
    background-color: get('crust');
    border: 1px solid get('overlay0');
    box-shadow: 0 10px 35px 2px get_transparency(dark_color, 0.7);
  }

  // Dialog overlay
  .x7r02ix[role='dialog'] {
    box-shadow: 0 5px 10px 0 get_transparency(dark_color, 0.5);
  }

  // Input placeholders
  ._ac4d::placeholder,
  ._aauy::placeholder,
  textarea::placeholder {
    color: get('subtext0');
  }

  // Settings
  ._ab81 {
    background-color: get('mantle');
  }

  ._ab85,
  ._ab6i,
  ._ab85 .xvbhtw8,
  ._aav4 {
    background-color: get('crust');
  }

  // Map pop-ups
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: get('mantle');
    box-shadow: 0 5px 15px get_transparency(dark_color, 0.4)

    * {
      color: get('text') !important;
    }
  }
  
  // Scrollbar
  ::-webkit-scrollbar {
    width: (scrollbar_width)px;
    background-color: get('crust');
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: get(accent);
    border-radius: 10px;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: get(accent) get('crust');
  }
}
  
@-moz-document regexp('^.*instagram.com/direct.*') {
  // Chat background
  .xnz67gz {
    background-color: get('base');
  }

  .xvbhtw8 {
    background-color: get('mantle');
  }

  ._aa5c,
  ._aa4j,
  ._abyk {
    background-color: get('crust');
  }
}
