/* ==UserStyle==
@name        Catppuccin for Instagram
@namespace   github.com/haiksgithub/
@version     0.1.0
@description Soothing pastel theme for Instagram.
@author      haik

@preprocessor stylus

@var select flavor 'Flavour' [
  'Latte',
  'Frappe',
  'Macchiato',
  'Mocha',
  'Espresso'
]

@var select accent 'Accent Colour' [
  'Blue',
  'Flamingo',
  'Green',
  'Lavender',
  'Mantle',
  'Maroon',
  'Mauve',
  'Peach',
  'Pink',
  'Red',
  'Rosewater',
  'Sapphire',
  'Sky',
  'Teal',
  'Yellow'
]
==/UserStyle== */

@-moz-document domain('instagram.com')
  if flavor == 'Latte'
    flavor = 'latte'
  else if flavor == 'Frappe'
    flavor = 'frappe'
  else if flavor == 'Macchiato'
    flavor = 'macchiato'
  else if flavor == 'Mocha'
    flavor = 'mocha'
  else if flavor == 'Espresso'
    flavor = 'espresso'

  if accent == 'Blue'
    accent = 'blue'
  else if accent == 'Flamingo'
    accent = 'flamingo'
  else if accent == 'Green'
    accent = 'green'
  else if accent == 'Lavender'
    accent = 'lavender'
  else if accent == 'Mantle'
    accent = 'mantle'
  else if accent == 'Maroon'
    accent = 'maroon'
  else if accent == 'Mauve'
    accent = 'mauve'
  else if accent == 'Peach'
    accent = 'peach'
  else if accent == 'Pink'
    accent = 'pink'
  else if accent == 'Red'
    accent = 'red'
  else if accent == 'Rosewater'
    accent = 'rosewater'
  else if accent == 'Sapphire'
    accent = 'sapphire'
  else if accent == 'Sky'
    accent = 'sky'
  else if accent == 'Teal'
    accent = 'teal'
  else if accent == 'Yellow'
    accent = 'yellow'

  // TODO: Move the palette to a separate repository.
  catppuccin = {
    'espresso': {
      'rosewater': #f5e0dc,
      'flamingo': #f2cdcd,
      'pink': #f5c2e7,
      'mauve': #cba6f7,
      'red': #f38ba8,
      'maroon': #eba0ac,
      'peach': #fab387,
      'yellow': #f9e2af,
      'green': #a6e3a1,
      'teal': #94e2d5,
      'sky': #89dceb,
      'sapphire': #74c7ec,
      'blue': #89b4fa,
      'lavender': #b4befe,
      'text': #cdd6f4,
      'subtext1': #bac2de,
      'subtext0': #a6adc8,
      'overlay2': #9399b2,
      'overlay1': #7f849c,
      'overlay0': #6c7086,
      'surface2': #585b70,
      'surface1': #45475a,
      'surface0': #313244,
      'base': #000,
      'mantle': #010101,
      'crust': #020202
    },
    'mocha': {
      'rosewater': #f5e0dc,
      'flamingo': #f2cdcd,
      'pink': #f5c2e7,
      'mauve': #cba6f7,
      'red': #f38ba8,
      'maroon': #eba0ac,
      'peach': #fab387,
      'yellow': #f9e2af,
      'green': #a6e3a1,
      'teal': #94e2d5,
      'sky': #89dceb,
      'sapphire': #74c7ec,
      'blue': #89b4fa,
      'lavender': #b4befe,
      'text': #cdd6f4,
      'subtext1': #bac2de,
      'subtext0': #a6adc8,
      'overlay2': #9399b2,
      'overlay1': #7f849c,
      'overlay0': #6c7086,
      'surface2': #585b70,
      'surface1': #45475a,
      'surface0': #313244,
      'base': #1e1e2e,
      'mantle': #181825,
      'crust': #11111b
    },
    'macchiato': {
      'rosewater': #f4dbd6,
      'flamingo': #f0c6c6,
      'pink': #f5bde6,
      'mauve': #c6a0f6,
      'red': #ed8796,
      'maroon': #ee99a0,
      'peach': #f5a97f,
      'yellow': #eed49f,
      'green': #a6da95,
      'teal': #8bd5ca,
      'sky': #91d7e3,
      'sapphire': #7dc4e4,
      'blue': #8aadf4,
      'lavender': #b7bdf8,
      'text': #cad3f5,
      'subtext1': #b8c0e0,
      'subtext0': #a5adcb,
      'overlay2': #939ab7,
      'overlay1': #8087a2,
      'overlay0': #6e738d,
      'surface2': #5b6078,
      'surface1': #494d64,
      'surface0': #363a4f,
      'base': #24273a,
      'mantle': #1e2030,
      'crust': #181926
    },
    'frappe': {
      'rosewater': #f2d5cf,
      'flamingo': #eebebe,
      'pink': #f4b8e4,
      'mauve': #ca9ee6,
      'red': #e78284,
      'maroon': #ea999c,
      'peach': #ef9f76,
      'yellow': #e5c890,
      'green': #a6d189,
      'teal': #81c8be,
      'sky': #99d1db,
      'sapphire': #85c1dc,
      'blue': #8caaee,
      'lavender': #babbf1,
      'text': #c6d0f5,
      'subtext1': #b5bfe2,
      'subtext0': #a5adce,
      'overlay2': #949cbb,
      'overlay1': #838ba7,
      'overlay0': #737994,
      'surface2': #626880,
      'surface1': #51576d,
      'surface0': #414559,
      'base': #303446,
      'mantle': #292c3c,
      'crust': #232634
    },
    'latte': {
      'rosewater': #dc8a78,
      'flamingo': #dd7878,
      'pink': #ea76cb,
      'mauve': #8839ef,
      'red': #d20f39,
      'maroon': #e64553,
      'peach': #fe640b,
      'yellow': #df8e1d,
      'green': #40a02b,
      'teal': #179299,
      'sky': #04a5e5,
      'sapphire': #209fb5,
      'blue': #1e66f5,
      'lavender': #7287fd,
      'text': #4c4f69,
      'subtext1': #5c5f77,
      'subtext0': #6c6f85,
      'overlay2': #7c7f93,
      'overlay1': #8c8fa1,
      'overlay0': #9ca0b0,
      'surface2': #acb0be,
      'surface1': #bcc0cc,
      'surface0': #ccd0da,
      'crust': #dce0e8,
      'mantle': #e6e9ef,
      'base': #eff1f5
    }
  }

  // Gets a colour from the palette
  get($flavor, $accent = false)
    if $accent
      return catppuccin[$flavor][$accent]
    else
      return catppuccin[flavor][$flavor]

  // Converts the colour to an "r, g, b" string
  raw($color)
    return s('%s, %s, %s', red($color), green($color), blue($color))

  // Override default variables
  *
    --web-always-black: raw(get(flavor == 'latte' ? 'text' : 'crust'))
    --web-always-white: raw(get(flavor == 'latte' ? 'crust' : 'text'))

    --overlay-alpha-80: rgba(get('surface0'), 0.5)

    --ig-primary-background: raw(get('base'))
    --ig-secondary-background: raw(get('surface0'))
    --ig-banner-background: raw(get('crust'))
    --ig-highlight-background: raw(get('surface0'))
    --ig-elevated-background: raw(get('crust'))

    --ig-primary-button: raw(get(accent))
    --ig-primary-button-hover: raw(darken(get(accent), 10%))

    --ig-secondary-button-background: raw(get('surface0'))
    --ig-secondary-button-hover: raw(get('surface1'))
    --ig-secondary-button: raw(get('text'))

    --ig-primary-text: raw(get('text'))
    --ig-secondary-text: raw(get('subtext0'))
    --ig-tertiary-text: raw(get('subtext0'))
    --wbloks-primary-text: get('text')

    --ig-separator: raw(get('overlay0'))
    --post-separator: raw(get('overlay0'))
    --ig-elevated-separator: raw(get('overlay0'))
    --ig-stroke: raw(get('overlay0'))
    --grey-2: raw(get('overlay0'))

    --ig-link: raw(get(accent))
    --ig-error-or-destructive: raw(get('red'))

  // Sidebar
  .x1xgvd2v
    background-color: get('crust')

    &[style='transform: translateX(0px);']
      background-color: get('mantle')

  .x1zvrr1
    background-color: get('mantle')

  // Posts
  ._aggc
    padding: 1em
    background-color: get('mantle')
    border: 1px solid @css{ rgb(var(--ig-separator)) } !important
    border-radius: var(--modal-border-radius)
    box-sizing: border-box

  ._aatc ._aasi
  ._ae1i
  ._aggc textarea.xvbhtw8
    background-color: get('mantle')

  // Icons
  svg
    color: get('text')
    fill: get('text')

  // The close icon on the dark wrapper
  svg[aria-label='Close']
    color: var(--web-always-white)

  // Inside primary buttons
  .xzloghq
  ._acas:not(._acao)
    &, svg
      color: get('base')
      fill: get('base')

  // Secondary buttons
  .x1gjpkn9
  ._acat
  ._acap
    &, a&
      &, &:visited
        color: get('text')

  // Profile banner
  div:has(> .x1mu97ne)
    background-color: get('crust')

  // Dialog overlay
  .x7r02ix[role='dialog']
    box-shadow: 0 5px 10px 0 @css{ rgba(var(--web-always-black), 0.5) }

  // Input placeholders
  ._ac4d::placeholder
  ._aauy::placeholder
  textarea::placeholder
    color: @css{ rgb(var(--ig-secondary-text)) }

  // Settings
  ._ab81
    background-color: get('mantle')

  ._ab85
  ._ab6i
  ._ab85 .xvbhtw8
  ._aav4
    background-color: get('crust')
@-moz-document regexp('^.*instagram.com/direct.*')
  // Chat background
  .xnz67gz
    background-color: @css{ rgb(var(--ig-primary-background)) }

  .xvbhtw8
    background-color: get('mantle')

  ._aa5c
  ._aa4j
  ._abyk
    background-color: get('crust')
