/* ==UserStyle==
@name        Catppuccin for Instagram
@namespace   github.com/haiksgithub/
@version     0.1.0
@description Soothing pastel theme for Instagram.
@author      haik

@preprocessor stylus

@var select flavor "Flavour" [
  "'latte'",
  "'frappe'",
  "'macchiato'",
  "'mocha'",
  "'espresso'",
]

@var select accent "Accent Colour" [
  "'blue'",
  "'flamingo'",
  "'green'",
  "'lavender'",
  "'mantle'",
  "'maroon'",
  "'mauve'",
  "'peach'",
  "'pink'",
  "'red'",
  "'rosewater'",
  "'sapphire'",
  "'sky'",
  "'teal'",
  "'yellow'",
]

@var select logo_gradient "Logo Gradient" [
  "'never'",
  "'hover'",
  "'always'",
]

@var number scrollbar_width "Scrollbar Width (in pixels)" 5
==/UserStyle== */

@-moz-document domain('instagram.com') {
  @import url('https://cdn.jsdelivr.net/gh/haiksgithub/catppuccin-palette-css@v0.1.7/catppuccin.css');

  // Gets a colour from the palette
  get(clr, model = false) {
    suffix = model ? '-' + model : '';
    return s('var(--ctp-%s-%s%s)', unquote(flavor), unquote(clr), unquote(suffix));
  }

  get_transparency(clr, amount) {
    return convert(s('@css{ rgba(%s, %s) }', get(clr, 'raw'), amount));
  }

  // Always dark/light independent of the flavor
  dark_color = flavor == 'latte' ? 'text' : 'crust';
  light_color = flavor == 'latte' ? 'crust' : 'text';

  // Override default variables
  * {
    --web-always-black: get(dark_color, 'raw');
    --web-always-white: get(light_color, 'raw');

    --overlay-alpha-80: get_transparency(dark_color, 0.5);

    --ig-primary-background: get('base', 'raw');
    --ig-secondary-background: get('surface0', 'raw');
    --ig-banner-background: get('crust', 'raw');
    --ig-highlight-background: get('surface0', 'raw');
    --ig-elevated-background: get('crust', 'raw');
    --hover-overlay: get_transparency('surface0', 0.2);

    --ig-primary-button: get(accent, 'raw');
    --ig-primary-button-hover: get(accent, 'raw'), 0.8;

    --ig-secondary-button-background: get('surface0', 'raw');
    --ig-secondary-button-hover: get('surface1', 'raw');
    --ig-secondary-button: get('text', 'raw');

    --ig-primary-text: get('text', 'raw');
    --ig-secondary-text: get('subtext0', 'raw');
    --ig-tertiary-text: get('subtext0', 'raw');
    --wbloks-primary-text: get('text');
    --ig-text-on-media: get('text', 'raw');

    --ig-separator: get('overlay0', 'raw');
    --post-separator: get('overlay0', 'raw');
    --ig-elevated-separator: get('overlay0', 'raw');
    --ig-stroke: get('overlay0', 'raw');
    --grey-2: get('overlay0', 'raw');

    --ig-link: get(accent, 'raw');
    --ig-error-or-destructive: get('maroon', 'raw');
    --ig-success: get('green', 'raw');
  }
  
  // Text selection
  *::selection {
    color: get(dark_color);
    background-color: get(accent);
  }

  // Sidebar
  .x1xgvd2v {
    background-color: get('crust') !important;

    &[style='transform: translateX(0px);'] {
      background-color: get('mantle') !important;
    }
  }

  .x1zvrr1 {
    background-color: get('mantle');
  }
  
  // Instagram icon
  if logo_gradient != 'never' {
    instagram_logo = 'data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI5IiB2aWV3Qm94PSIzMiA0IDExMyAzMiIgd2lkdGg9IjEwMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTM3LjgyIDQuMTFjLTIuMzIuOTctNC44NiAzLjctNS42NiA3LjEzLTEuMDIgNC4zNCAzLjIxIDYuMTcgMy41NiA1LjU3LjQtLjctLjc2LS45NC0xLTMuMi0uMy0yLjkgMS4wNS02LjE2IDIuNzUtNy41OC4zMi0uMjcuMy4xLjMuNzhsLS4wNiAxNC40NmMwIDMuMS0uMTMgNC4wNy0uMzYgNS4wNC0uMjMuOTgtLjYgMS42NC0uMzMgMS45LjMyLjI4IDEuNjgtLjQgMi40Ni0xLjVhOC4xMyA4LjEzIDAgMCAwIDEuMzMtNC41OGMuMDctMi4wNi4wNi01LjMzLjA3LTcuMTkgMC0xLjcuMDMtNi43MS0uMDMtOS43Mi0uMDItLjc0LTIuMDctMS41MS0zLjAzLTEuMVptODIuMTMgMTQuNDhhOS40MiA5LjQyIDAgMCAxLS44OCAzLjc1Yy0uODUgMS43Mi0yLjYzIDIuMjUtMy4zOS0uMjItLjQtMS4zNC0uNDMtMy41OS0uMTMtNS40Ny4zLTEuOSAxLjE0LTMuMzUgMi41My0zLjIyIDEuMzguMTMgMi4wMiAxLjkgMS44NyA1LjE2Wk05Ni44IDI4LjU3Yy0uMDIgMi42Ny0uNDQgNS4wMS0xLjM0IDUuNy0xLjI5Ljk2LTMgLjIzLTIuNjUtMS43Mi4zMS0xLjcyIDEuOC0zLjQ4IDQtNS42NGwtLjAxIDEuNjZabS0uMzUtMTBhMTAuNTYgMTAuNTYgMCAwIDEtLjg4IDMuNzdjLS44NSAxLjcyLTIuNjQgMi4yNS0zLjM5LS4yMi0uNS0xLjY5LS4zOC0zLjg3LS4xMy01LjI1LjMzLTEuNzggMS4xMi0zLjQ0IDIuNTMtMy40NCAxLjM4IDAgMi4wNiAxLjUgMS44NyA1LjE0Wm0tMTMuNDEtLjAyYTkuNTQgOS41NCAwIDAgMS0uODcgMy44Yy0uODggMS43LTIuNjMgMi4yNC0zLjQtLjIzLS41NS0xLjc3LS4zNi00LjItLjEzLTUuNS4zNC0xLjk1IDEuMi0zLjMyIDIuNTMtMy4yIDEuMzguMTQgMi4wNCAxLjkgMS44NyA1LjEzWm02MS40NSAxLjgxYy0uMzMgMC0uNDkuMzUtLjYxLjkzLS40NCAyLjAyLS45IDIuNDgtMS41IDIuNDgtLjY2IDAtMS4yNi0xLTEuNDItMy0uMTItMS41OC0uMS00LjQ4LjA2LTcuMzcuMDMtLjU5LS4xNC0xLjE3LTEuNzMtMS43NS0uNjgtLjI1LTEuNjgtLjYyLTIuMTcuNThhMjkuNjUgMjkuNjUgMCAwIDAtMi4wOCA3LjE0YzAgLjA2LS4wOC4wNy0uMS0uMDYtLjA3LS44Ny0uMjYtMi40Ni0uMjgtNS43OSAwLS42NS0uMTQtMS4yLS44Ni0xLjY1LS40Ny0uMy0xLjg4LS44MS0yLjQtLjItLjQzLjUtLjk0IDEuODctMS40NyAzLjQ4bC0uNzQgMi4yLjAxLTQuODhjMC0uNS0uMzQtLjY3LS40NS0uN2E5LjU0IDkuNTQgMCAwIDAtMS44LS4zN2MtLjQ4IDAtLjYuMjctLjYuNjcgMCAuMDUtLjA4IDQuNjUtLjA4IDcuODd2LjQ2Yy0uMjcgMS40OC0xLjE0IDMuNDktMi4wOSAzLjQ5cy0xLjQtLjg0LTEuNC00LjY4YzAtMi4yNC4wNy0zLjIxLjEtNC44My4wMi0uOTQuMDYtMS42NS4wNi0xLjgxLS4wMS0uNS0uODctLjc1LTEuMjctLjg1LS40LS4wOS0uNzYtLjEzLTEuMDMtLjExLS40LjAyLS42Ny4yNy0uNjcuNjJ2LjU1YTMuNzEgMy43MSAwIDAgMC0xLjgzLTEuNDljLTEuNDQtLjQzLTIuOTQtLjA1LTQuMDcgMS41M2E5LjMxIDkuMzEgMCAwIDAtMS42NiA0LjczYy0uMTYgMS41LS4xIDMuMDEuMTcgNC4zLS4zMyAxLjQ0LS45NiAyLjA0LTEuNjQgMi4wNC0uOTkgMC0xLjctMS42Mi0xLjYyLTQuNC4wNi0xLjg0LjQyLTMuMTMuODItNC45OS4xNy0uOC4wNC0xLjItLjMxLTEuNi0uMzItLjM3LTEtLjU2LTEuOTktLjMzLS43LjE2LTEuNy4zNC0yLjYuNDcgMCAwIC4wNS0uMjEuMS0uNi4yMy0yLjAzLTEuOTgtMS44Ny0yLjY5LTEuMjItLjQyLjM5LS43Ljg0LS44MiAxLjY3LS4xNyAxLjMuOSAxLjkxLjkgMS45MWEyMi4yMiAyMi4yMiAwIDAgMS0zLjQgNy4yM3YtLjdjLS4wMS0zLjM2LjAzLTYgLjA1LTYuOTUuMDItLjk0LjA2LTEuNjMuMDYtMS44IDAtLjM2LS4yMi0uNS0uNjYtLjY3LS40LS4xNi0uODYtLjI2LTEuMzQtLjMtLjYtLjA1LS45Ny4yNy0uOTYuNjV2LjUyYTMuNyAzLjcgMCAwIDAtMS44NC0xLjQ5Yy0xLjQ0LS40My0yLjk0LS4wNS00LjA3IDEuNTNhMTAuMSAxMC4xIDAgMCAwLTEuNjYgNC43MmMtLjE1IDEuNTctLjEzIDIuOS4wOSA0LjA0LS4yMyAxLjEzLS44OSAyLjMtMS42MyAyLjMtLjk1IDAtMS41LS44My0xLjUtNC42NyAwLTIuMjQuMDctMy4yMS4xLTQuODMuMDItLjk0LjA2LTEuNjUuMDYtMS44MSAwLS41LS44Ny0uNzUtMS4yNy0uODUtLjQyLS4xLS43OS0uMTMtMS4wNi0uMS0uMzcuMDItLjYzLjM1LS42My42di41NmEzLjcgMy43IDAgMCAwLTEuODQtMS40OWMtMS40NC0uNDMtMi45My0uMDQtNC4wNyAxLjUzLS43NSAxLjAzLTEuMzUgMi4xNy0xLjY2IDQuN2ExNS44IDE1LjggMCAwIDAtLjEyIDIuMDRjLS4zIDEuODEtMS42MSAzLjktMi42OCAzLjktLjYzIDAtMS4yMy0xLjIxLTEuMjMtMy44IDAtMy40NS4yMi04LjM2LjI1LTguODNsMS42Mi0uMDNjLjY4IDAgMS4yOS4wMSAyLjE5LS4wNC40NS0uMDIuODgtMS42NC40Mi0xLjg0LS4yMS0uMDktMS43LS4xNy0yLjMtLjE4LS41LS4wMS0xLjg4LS4xMS0xLjg4LS4xMXMuMTMtMy4yNi4xNi0zLjZjLjAyLS4zLS4zNS0uNDQtLjU3LS41M2E3Ljc3IDcuNzcgMCAwIDAtMS41My0uNDRjLS43Ni0uMTUtMS4xIDAtMS4xNy42NC0uMS45Ny0uMTUgMy44Mi0uMTUgMy44Mi0uNTYgMC0yLjQ3LS4xMS0zLjAyLS4xMS0uNTIgMC0xLjA4IDIuMjItLjM2IDIuMjVsMy4yLjA5LS4wMyA2LjUzdi40N2MtLjUzIDIuNzMtMi4zNyA0LjItMi4zNyA0LjIuNC0xLjgtLjQyLTMuMTUtMS44Ny00LjMtLjU0LS40Mi0xLjYtMS4yMi0yLjc5LTIuMSAwIDAgLjY5LS42OCAxLjMtMi4wNC40My0uOTYuNDUtMi4wNi0uNjEtMi4zLTEuNzUtLjQxLTMuMi44Ny0zLjYzIDIuMjVhMi42MSAyLjYxIDAgMCAwIC41IDIuNjZsLjE1LjE5Yy0uNC43Ni0uOTQgMS43OC0xLjQgMi41OC0xLjI3IDIuMi0yLjI0IDMuOTUtMi45NyAzLjk1LS41OCAwLS41Ny0xLjc3LS41Ny0zLjQzIDAtMS40My4xLTMuNTguMTktNS44LjAzLS43NC0uMzQtMS4xNi0uOTYtMS41NGE0LjMzIDQuMzMgMCAwIDAtMS42NC0uNjljLS43IDAtMi43LjEtNC42IDUuNTctLjIzLjY5LS43IDEuOTQtLjcgMS45NGwuMDQtNi41N2MwLS4xNi0uMDgtLjMtLjI3LS40YTQuNjggNC42OCAwIDAgMC0xLjkzLS41NGMtLjM2IDAtLjU0LjE3LS41NC41bC0uMDcgMTAuM2MwIC43OC4wMiAxLjY5LjEgMi4wOS4wOC40LjIuNzIuMzYuOTEuMTUuMi4zMy4zNC42Mi40LjI4LjA2IDEuNzguMjUgMS44Ni0uMzIuMS0uNjkuMS0xLjQzLjg5LTQuMiAxLjIyLTQuMzEgMi44Mi02LjQyIDMuNTgtNy4xNi4xMy0uMTQuMjgtLjE0LjI3LjA3bC0uMjIgNS4zMmMtLjIgNS4zNy43OCA2LjM2IDIuMTcgNi4zNiAxLjA3IDAgMi41OC0xLjA2IDQuMi0zLjc0bDIuNy00LjUgMS41OCAxLjQ2YzEuMjggMS4yIDEuNyAyLjM2IDEuNDIgMy40NS0uMjEuODMtMS4wMiAxLjctMi40NC44Ni0uNDItLjI1LS42LS40NC0xLjAxLS43MS0uMjMtLjE1LS41Ny0uMi0uNzgtLjA0LS41My40LS44NC45Mi0xLjAxIDEuNTUtLjE3LjYxLjQ1Ljk0IDEuMDkgMS4yMi41NS4yNSAxLjc0LjQ3IDIuNS41IDIuOTQuMSA1LjMtMS40MiA2Ljk0LTUuMzQuMyAzLjM4IDEuNTUgNS4zIDMuNzIgNS4zIDEuNDUgMCAyLjkxLTEuODggMy41NS0zLjcyLjE4Ljc1LjQ1IDEuNC44IDEuOTYgMS42OCAyLjY1IDQuOTMgMi4wNyA2LjU2LS4xOC41LS42OS41OC0uOTQuNTgtLjk0YTMuMDcgMy4wNyAwIDAgMCAyLjk0IDIuODdjMS4xIDAgMi4yMy0uNTIgMy4wMy0yLjMxLjA5LjIuMi4zOC4zLjU2IDEuNjggMi42NSA0LjkzIDIuMDcgNi41Ni0uMThsLjItLjI4LjA1IDEuNC0xLjUgMS4zN2MtMi41MiAyLjMtNC40NCA0LjA1LTQuNTggNi4wOS0uMTggMi42IDEuOTMgMy41NiAzLjUzIDMuNjlhNC41IDQuNSAwIDAgMCA0LjA0LTIuMTFjLjc4LTEuMTUgMS4zLTMuNjMgMS4yNi02LjA4bC0uMDYtMy41NmEyOC41NSAyOC41NSAwIDAgMCA1LjQyLTkuNDRzLjkzLjAxIDEuOTItLjA1Yy4zMi0uMDIuNDEuMDQuMzUuMjctLjA3LjI4LTEuMjUgNC44NC0uMTcgNy44OC43NCAyLjA4IDIuNCAyLjc1IDMuNCAyLjc1IDEuMTUgMCAyLjI2LS44NyAyLjg1LTIuMTdsLjIzLjQyYzEuNjggMi42NSA0LjkyIDIuMDcgNi41Ni0uMTguMzctLjUuNTgtLjk0LjU4LS45NC4zNiAyLjIgMi4wNyAyLjg4IDMuMDUgMi44OCAxLjAyIDAgMi0uNDIgMi43OC0yLjI4LjAzLjgyLjA4IDEuNDkuMTYgMS43LjA1LjEzLjM0LjMuNTYuMzcuOTMuMzQgMS44OC4xOCAyLjI0LjExLjI0LS4wNS40My0uMjUuNDYtLjc1LjA3LTEuMzMuMDMtMy41Ni40My01LjIxLjY3LTIuNzkgMS4zLTMuODcgMS42LTQuNC4xNy0uMy4zNi0uMzUuMzctLjAzLjAxLjY0LjA0IDIuNTIuMyA1LjA1LjIgMS44Ni40NiAyLjk2LjY1IDMuMy41NyAxIDEuMjcgMS4wNSAxLjgzIDEuMDUuMzYgMCAxLjEyLS4xIDEuMDUtLjczLS4wMy0uMzEuMDItMi4yMi43LTQuOTYuNDMtMS43OSAxLjE1LTMuNCAxLjQxLTQgLjEtLjIxLjE1LS4wNC4xNSAwLS4wNiAxLjIyLS4xOCA1LjI1LjMyIDcuNDYuNjggMi45OCAyLjY1IDMuMzIgMy4zNCAzLjMyIDEuNDcgMCAyLjY3LTEuMTIgMy4wNy00LjA1LjEtLjctLjA1LTEuMjUtLjQ4LTEuMjVaIiBmaWxsPSJjdXJyZW50Q29sb3IiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PC9wYXRoPg0KPC9zdmc+'
  }

  if logo_gradient == 'hover' {
    ._ab6-[aria-label='Instagram'] {
      background-color: get('text');
      fill: transparent;
      color: transparent;
      mask-image: url(instagram_logo);
      mask-size: 100%;
      mask-position: 0 0;
    }
    
    a:has(._ab6-[aria-label='Instagram']):hover ._ab6-[aria-label='Instagram'] {
      background-image: linear-gradient(to right, get('yellow') 1%, get('peach') 5%, get('red') 30%, get('mauve') 95%, get('lavender'));
    }
  }
  
  else if logo_gradient == 'always' {
    ._ab6-[aria-label='Instagram'] {
      background-color: get('text');
      fill: transparent;
      color: transparent;
      mask-image: url(instagram_logo);
      mask-size: 100%;
      mask-position: 0 0;
      background-image: linear-gradient(to right, get('yellow') 1%, get('peach') 5%, get('red') 30%, get('mauve') 95%, get('lavender'));1
    }
  }

  // Posts
  ._aggc {
    padding: 1em;
    background-color: get('mantle');
    border: 1px solid get('overlay0') !important;
    border-radius: var(--modal-border-radius);
    box-shadow: 0 3px 5px -1px get_transparency(dark_color, 0.2);
    box-sizing: border-box;
  }

  ._aatc ._aasi,
  ._ae1i,
  ._aggc textarea.xvbhtw8 {
    background-color: get('mantle');
  }

  // Icons
  svg {
    color: get('text');
    fill: get('text');
  }

  // The close icon on the dark wrapper
  svg[aria-label='Close'] {
    color: var(--web-always-white);
  }

  // Monotone icons from the PNG sprite
  latte_text_filter = @css{ brightness(0) saturate(100%) invert(28%) sepia(17%) saturate(835%) hue-rotate(196deg) brightness(97%) contrast(85%) };
  frappe_text_filter = @css{ brightness(0) saturate(100%) invert(84%) sepia(5%) saturate(1519%) hue-rotate(192deg) brightness(100%) contrast(93%) };
  macchiato_text_filter = @css{ brightness(0) saturate(100%) invert(80%) sepia(18%) saturate(377%) hue-rotate(192deg) brightness(103%) contrast(92%) };
  mocha_text_filter = @css{ brightness(0) saturate(100%) invert(85%) sepia(6%) saturate(1356%) hue-rotate(194deg) brightness(103%) contrast(91%) };
  espresso_text_filter = @css{ brightness(0) saturate(100%) invert(85%) sepia(6%) saturate(1356%) hue-rotate(194deg) brightness(103%) contrast(91%) };
  
  // Excluded:
  // - _9ys7, _9_1f, _9ys8 (verified icon)
  [style*='background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y4/r/ewSyA8IItw_.png")'],
  ._9zkj, ._a3ds, ._a3dt, ._a3du, ._a3dv, ._a3dw, ._9-b3, ._9znl, ._9z-6, ._a3dx, ._a3dy, ._a3dz, ._a3d-, ._a3d_, ._a3e0, ._9zm4, ._a3e1, ._a3e2, ._a3e3, ._a3e4, ._a3e5, ._a3e6, ._a3e7, ._a3e8, ._a3e9, ._a3ea, ._9_57, ._9_n5, ._9-y3, ._a3eb, ._a3ec, ._a3ed, ._a3ee, ._a04s, ._9zlu, ._9-yp, ._a3ef, ._a3eg, ._9_wm, ._a3eh, ._a3ei, ._9-j_, ._a3ej, ._a3ek, ._9_ij, ._9_d_, ._9_e1, ._9-mm, ._9_cx, ._9zm0, ._9zfi, ._9-ub, ._a3el, ._9-7-, ._9-1a, ._a3em, ._9zrp, ._a3en, ._9zz9, ._a3eo, ._9zmr, ._9-8d, ._9zhi, ._a3ep, ._9zs0, ._9-j-, ._a3eq, ._9zli, ._9_4y, ._9zm2, ._9zfj, ._9zlg, ._a3er, ._9-lv, ._9_ug, ._9_sh, ._9_sj, ._9-k0, ._9z-c, ._9_35, ._9_hh, ._a3es, ._a3et, ._a3eu, ._9-v-, ._9_4d, ._9zlh, ._a3ev, ._a3ew, ._a3ex, ._a3ey, ._9_7m, ._9_fv, ._a3ez,
  ._9-zf, ._9-zg, ._9-ze, ._a9fa, ._9-zh, ._9-zi, ._9-zj, ._9-zk, ._9-zl, ._9-zm, ._9-zn, ._9-zo, ._9-zp, ._9-zq, ._9-zr, ._9-zs, ._9-zt, ._a3op, ._a3oq, ._9-zu, ._9-zv, ._9-zw, ._9-zx, ._9-zy, ._9-zz, ._9-z-, ._a3or, ._a3ot, ._a3os, ._9zs1, ._9zs2, ._9-z_, ._9--0, ._9--1, ._9--2, ._9--3, ._9--4, ._9--5, ._9--6, ._9--7, ._9--f, ._9--8, ._9--9, ._9--a, ._9--b, ._9--c, ._9--d, ._9--e, ._a3ou, ._9--g, ._9--h, ._9--i, ._9--j, ._9--l, ._9--k, ._9--m, ._9--n, ._9--o, ._9--p, ._9--q, ._a3ov, ._9--s, ._9--r, ._9--t, ._9--u, ._9--v, ._9--x, ._9--y, ._9--w, ._9--z, ._9--_, ._9-_0, ._9-_1, ._9-_2, ._9-_3, ._9---, ._9-_4, ._9-_5, ._9-_6, ._9-_7, ._a3wy, ._9-_8, ._9-_9, ._a3ow, ._9-_a, ._9-_b, ._9-_c, ._9-_d, ._9-_e, ._9-_f, ._9-_g, ._9-_h, ._9-_i, ._9-_j, ._9-_k, ._9-_l, ._9-_m, ._9-_n, ._9-_o, ._a3ox, ._9-_p, ._9-_q, ._a9fb, ._9-_t, ._9-_r, ._9-_s, ._a93g, ._9-_u, ._9-_v, ._a9fc, ._9-_w, ._9-_x, ._9-_y, ._9-_z, ._9-_-, ._9-__, ._9_00, ._a3oy, ._9_01, ._9_02, ._9_03, ._9_04, ._9_05, ._9_08, ._9_09, ._9_07, ._9_06, ._9_0a, ._9_0b, ._9_0c, ._9_0d, ._9_0e, ._9_0f, ._9_0g, ._a93h, ._9_0h, ._9_0i, ._9_0j, ._9_0k, ._aepo, ._9_0l, ._9_0m, ._9_0n, ._9_0o, ._9_0p, ._a3oz, ._a93l, ._9_0r, ._9_0s, ._a7tk, ._9_0q, ._a3o-, ._9_0t, ._9_0v, ._9_0u, ._a9ej, ._9_0w, ._9_0x, ._9_0y, ._9_0z, ._9_0_, ._9_0-, ._9_10, ._9_11, ._9_12, ._9_13, ._9_14, ._9_15, ._a3o_, ._9_18, ._9_19, ._9_1a, ._9_1e, ._9_1b, ._9_1c, ._9_1d, ._9_16, ._9_17, ._a3p0, ._9_1g, ._9_1i, ._9_1h, ._9_1j, ._9_1k, ._9_1l, ._9_1m, ._a9pw {
    filter: lookup(flavor + '_text_filter');
  }
  
  // Custom icons
  instagram_gradient = radial-gradient(circle at 30% 107%, get('yellow') 0%, get('yellow') 5%, get('peach') 45%, get('mauve') 60%,get('blue') 90%);
  verified_icon = 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzU3LjczOCA2My4yMTQzTDMxNi45MDUgMEwyNTAgMzQuMjg1N0wxODIuOTc2IDBMMTQyLjE0MyA2My4yMTQzTDY2LjkwNDggNjcuMDIzOEw2My4yMTQzIDE0Mi4yNjJMMCAxODMuMDk1TDM0LjI4NTcgMjUwTDAgMzE3LjAyNEw2My4yMTQzIDM1Ny44NTdMNjcuMDIzOCA0MzMuMDk1TDE0Mi4yNjIgNDM2Ljc4NkwxODMuMDk1IDUwMEwyNTAgNDY1LjcxNEwzMTcuMDI0IDUwMEwzNTcuODU3IDQzNi43ODZMNDMzLjA5NSA0MzIuOTc2TDQzNi43ODYgMzU3LjczOEw1MDAgMzE2LjkwNUw0NjUuNzE0IDI1MEw1MDAgMTgyLjk3Nkw0MzYuNzg2IDE0Mi4xNDNMNDMyLjk3NiA2Ni45MDQ4TDM1Ny43MzggNjMuMjE0M1pNMTQxLjY2NiAyNTkuMDQ4TDIxOC45MjggMzM2LjMwOUwzNTguMDk1IDIwMS40MjlMMzMzLjIxNCAxNzUuODMzTDIxOS40MDQgMjg2LjE5TDE2Ni45MDQgMjMzLjgwOUwxNDEuNjY2IDI1OS4wNDhaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K';
  
  // Verified icon
  ._9ys7,
  ._9_1f,
  ._9ys8 {
    position: relative;
    background-image: none;
    background-color: get(accent);
    mask-image: url(verified_icon);
    mask-size: 100%;
  }
  
  [style*='background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y4/r/ewSyA8IItw_.png")'] {
    // No photo icon
    &[style*='background-position: 0px -97px'] {
      filter: none;
      background: get('mauve') !important;
      background: instagram_gradient !important;
      mask-image: url('https://static.cdninstagram.com/rsrc.php/v3/y4/r/ewSyA8IItw_.png');
      mask-position: 0 -97px;
    }
    
    // Private page icon
    &[style*='background-position: -49px -97px'] {
      filter: none;
      background: get('mauve') !important;
      background: instagram_gradient !important;
      mask-image: url('https://static.cdninstagram.com/rsrc.php/v3/y4/r/ewSyA8IItw_.png');
      mask-position: -49px -97px;
    }

    &[style*='background-position: -49px 0px'] {
      filter: none;
      background: get('mauve') !important;
      background: instagram_gradient !important;
      mask-image: url('https://static.cdninstagram.com/rsrc.php/v3/y4/r/ewSyA8IItw_.png');
      mask-position: -49px 0;
    }
  }

  // Post swipe icons
  ._aaqh {
    background-color: get('surface0');
  }
  
  // Inside primary buttons
  .xzloghq,
  ._acas:not(._acao) {
    &,
    svg {
      color: get('base');
      fill: get('base');
    }
  }

  // Secondary buttons
  .x1gjpkn9,
  ._acat,
  ._acap {
    &,
    a& {
      &,
      &:visited {
        color: get('text');
      }
    }
  }

  // Profile banner
  div:has(> .x1mu97ne) {
    background-color: get('crust');
    border: 1px solid get('overlay0');
    box-shadow: 0 10px 35px 2px get_transparency(dark_color, 0.7);
  }

  // Dialog overlay
  .x7r02ix[role='dialog'] {
    box-shadow: 0 5px 10px 0 get_transparency(dark_color, 0.5);
  }

  // Input placeholders
  ._ac4d::placeholder,
  ._aauy::placeholder,
  textarea::placeholder {
    color: get('subtext0');
  }

  // Settings
  ._ab81 {
    background-color: get('mantle');
  }

  ._ab85,
  ._ab6i,
  ._ab85 .xvbhtw8,
  ._aav4 {
    background-color: get('crust');
  }

  // Bloks
  .wbloks_1[data-bloks-name='bk.components.Collection'] {
    background-color: get('mantle');
  }

  .wbloks_1[data-bloks-name='bk.components.Flexbox'] {
    // Radios have left padding
    padding-left: 0 !important;

    // The heading
    &[style*='background: rgb(0\, 0\, 0)'],
    &[style*='background: rgb(255\, 255\, 255)'] {
      background-color: get('mantle') !important;
    }
    
    // Radios
    &[style*='border-radius: 10.5px'],
    &[style*='border-radius: 12px'],
    &[style*='border-radius: 4px'] {
      // Selected radio
      &[style*='background: rgb(0\, 149\, 246)'] {
        background-color: get(accent) !important;
      }
  
      // Not selected radio
      &[style*='background: rgb(219\, 219\, 219)'],
      &[style*='background: rgb(38\, 38\, 38)'],
      &[style*='background: rgb(54\, 54\, 54)'],
      &[style*='background: rgb(255\, 255\, 255)'] {
        background-color: get('surface0') !important;
      }
    }
    
    // That "border"
    &[style*='background: rgb(38\, 38\, 38)'] {
      display: none;
    }
  }
 
  span[data-bloks-name='bk.components.TextSpan'],
  span[data-bloks-name='bk.components.Text']{
    &[style*='color: rgb(250\, 250\, 250)'],
    &[style*='color: rgb(224\, 241\, 255)'],
    &[style*='color: rgb(0\, 55\, 107)'],
    &[style*='color: rgb(38\, 38\, 38)'] {
      color: get('text') !important;
    }
    
    &[style*='color: rgb(142\, 142\, 142)'] {
      color: get('subtext0') !important;
    }
  }

  // Map pop-ups
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: get('mantle');
    box-shadow: 0 5px 15px get_transparency(dark_color, 0.4)

    * {
      color: get('text') !important;
    }
  }
  
  // Scrollbar
  ::-webkit-scrollbar {
    width: (scrollbar_width)px;
    background-color: get('crust');
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: get(accent);
    border-radius: 10px;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: get(accent) get('crust');
  }
}
  
@-moz-document regexp('^.*instagram.com/direct.*') {
  // Chat background
  .xnz67gz {
    background-color: get('base');
  }

  .xvbhtw8 {
    background-color: get('mantle');
  }

  ._aa5c,
  ._aa4j,
  ._abyk {
    background-color: get('crust');
  }
}
